@using Microsoft.AspNetCore.Http
@model AspNetCoreTemplate.Data.Models.Account
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    this.ViewData["Title"] = "Home Page";
}
<div class="home-content">
    <div class="home-content-header-container">
        <p class="home-content-header">Моите сметки</p>
    </div>
    <div class="home-content-dataTable-container">
        <table style="width: 100%">
            <thead style="background-color: #F2D096">
                <tr class="home-content-dataTable" style="height: 6vh">
                    <th style="width: 10%">Операция</th>
                    <th style="width: 20%">IBAN</th>
                    <th style="width: 15%">Разполагаемост</th>
                    <th style="width: 10%">Валута</th>
                    <th style="width: 20%">Вид на сметката</th>
                    <th style="width: 20%">Титуляр на сметката</th>
                </tr>
            </thead>
            <tbody style="background-color: #B2E7E8">
                <tr class="home-content-dataTable" style="height: 5vh">
                    <td>123</td>
                    <td>@Model.IBAN</td>
                    <td>@Model.AccountBalance</td>
                    <td>@Model.Currency</td>
                    <td>Картови сметки</td>
                    <td>@Model.FirstName @Model.LastName</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>