@using Microsoft.AspNetCore.Http
@model AspNetCoreTemplate.Web.ViewModels.AccountViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    this.ViewData["Title"] = "Home Page";
}
<div class="home-content">
    <div class="home-content-header-container">
        <p class="home-content-header">Моите сметки</p>
    </div>
    <div class="home-content-dataTable-container">
        <table style="width: 100%">
            <thead style="background-color: #F2D096">
                <tr class="home-content-dataTable" style="height: 6vh">
                    <th style="width: 10%">Операция</th>
                    <th style="width: 20%">IBAN</th>
                    <th style="width: 15%">Разполагаемост</th>
                    <th style="width: 10%">Валута</th>
                    <th style="width: 20%">Вид на сметката</th>
                    <th style="width: 20%">Титуляр на сметката</th>
                </tr>
            </thead>
            <tbody style="background-color: #B2E7E8">
                <tr class="home-content-dataTable" style="height: 5vh">
                    <td>
                        <a class="transaction-operation" asp-controller="" asp-action=""><i class="fa-solid fa-list"></i></a>
                    </td>
                    <td>@Model.Account.IBAN</td>
                    <td>@Model.Account.AccountBalance</td>
                    <td>@Model.Account.Currency</td>
                    <td>Картови сметки</td>
                    <td>@Model.Account.FirstName @Model.Account.LastName</td>
                </tr>
                @if (Model.DebitCards != null)
                {
                    @foreach (var debitCard in Model.DebitCards)
                    {
                        <tr class="home-content-dataTable" style="height: 5vh">
                            <td>
                                <a class="info-operation" asp-controller="Home" asp-action="Information" asp-route-id="@debitCard.Id"><i class="fa-solid fa-circle-info"></i></a>

                                <a class="transaction-operation" asp-controller="" asp-action=""><i class="fa-solid fa-list"></i></a>
                            </td>
                            <td>@debitCard.IBAN</td>
                            <td>@debitCard.CardBalance</td>
                            <td>@debitCard.Currency</td>
                            <td>Дебитна карта</td>
                            <td>@Model.Account.FirstName @Model.Account.LastName</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>