@model AspNetCoreTemplate.Web.ViewModels.DebitCardViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="">
    <div class="home-content-header-container">
        <p class="home-content-header">Информация за сметка</p>
    </div>
    <div class="details">
        <ul>
            <li>
                <span>IBAN</span>
                <span>@Model.DebitCard.IBAN</span>
            </li>
            <li>
                <span>Номер на карта</span>
                <span>@Model.DebitCard.CardNumber</span>
            </li>
            <li>
                <span>Валута</span>
                <span>@Model.DebitCard.Currency</span>
            </li>
            <li>
                <span>Валидност</span>
                <span>@String.Format("{0:MM.yyyy}", Model.DebitCard.ExpirationDate)</span>
            </li>
            <li>
                <span>Титуляр</span>
                <span>@Model.Account.FirstName @Model.Account.LastName</span>
            </li>
            <li>
                <span>Разполагаемост</span>
                <span>@String.Format("{0:f2}", Model.Account.AccountBalance)</span>
            </li>
            <li>
                <span>Имейл адрес</span>
                <span>@Model.Account.Email</span>
            </li>
            <li>
                <span>Дата на откриване</span>
                <span>@String.Format("{0:dd.MM.yyyy}", Model.Account.CreatedOn)</span>
            </li>
            <li>
                <span>Възраст на титуляр</span>
                <span>@Model.Account.Age</span>
            </li>
            <li>
                <span>Адрес на титуляр</span>
                <span>@Model.Account.Address</span>
            </li>
        </ul>
    </div>
</div>