@model AspNetCoreTemplate.Web.ViewModels.TransactionsViewModel
@* Transactions UI*@
<div class="">
    @* Transaction header*@
    <div class="home-content-header-container">
        <p class="home-content-header">Трансакции</p>
    </div>
    @* Transaction table data*@
    <div class="home-content-dataTable-container">
        <table style="width: 100%">
            <thead style="background-color: #F2D096">
                <tr class="home-content-dataTable" style="height: 6vh">
                    <th style="width: 7vw">Дата</th>
                    <th style="width: 15vw">Основание</th>
                    <th style="width: 5vw">Постъпления</th>
                    <th style="width: 5vw">Плащания</th>
                    <th style="width: 5vw">Валута</th>
                </tr>
            </thead>
            <tbody style="background-color: #B2E7E8">
                @foreach (var transaction in Model.Transactions)
                {
                <tr class="home-content-dataTable" style="height: 6vh">
                    @* Showing the date as dd.MM.yyyy format*@
                    <td>@String.Format("{0:dd.MM.yyyy}", transaction.Date)</td>
                    <td>@transaction.Message</td>
                    @* Showing the rounded value to 2 decimal places for the receipt, payment and balance*@
                    <td>@String.Format("{0:f2}", transaction.Receipt)</td>
                    <td>@String.Format("{0:f2}", transaction.Payment)</td>
                    <td>@String.Format("{0:f2}", transaction.TransactionCurrency.ToString())</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>